// cart_index.jsx

.cart-index-container {
    display: flex;
    margin: 100px;
    flex-direction: column;

    #title {
        color: #ff7b04;
        text-transform: capitalize;
    }
}

.cart-item-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

//cart_item.jsx

.items-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: lightgrey solid 1px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    
    .items-description {
        display: flex;
        flex-direction: wrap;
        #property-img {
            height: 100px;
        }
    }
    
    .cart-update-form {
        display: flex;
        flex-direction: wrap;
        padding-top: 30px;
    }
}

//cart_create.jsx
.cart-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.cart-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #offer{
        width: 30vw;
        margin: 10px;
        border: lightgray solid 1px;
        border-radius: 2px;
    }

    #terms{
        width: 30vw;
        margin-bottom: 15px;
        border: lightgray solid 1px;
        border-radius: 2px;
    }
}