//favorite_index.jsx
.favorite-index-container {
    display: flex;
    margin: 100px;
    flex-direction: column;

    #title {
        margin: 20px;
        color: #ff7b04;
        font-weight: bold;
    }
}

.favorite-item-container {
    list-style: none;
    // flex-direction: wrap;
}

//favorite_item.jsx
.favorite-item {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border: lightgrey solid 1px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;

    p{
        border-right: lightgrey solid 1px;
    }
    #address {
        column-width: auto;
    }

    #property-img{
        max-height: 100px;
        max-width: 100px;
    }

    #heart-img {
        height: 50px;
    }
    #heart-img:hover{
        cursor:pointer;
    }
}

//favorite_create.jsx
.cart-container {

    #heart-img{
        height: 8vh;
        width: 8vh;
    }

    #heart-img:hover{
        cursor:pointer;
    }
}