//favorite_index.jsx
.favorite-index-container {
    display: flex;
    margin: 100px;
    flex-direction: column;

    #title {
        margin: 20px;
        color: #ff7b04;
        font-weight: bold;
    }
}

.favorite-item-container {
    list-style: none;
    justify-content: space-evenly;
}

//favorite_item.jsx
.favorite-item {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border: lightgrey solid 1px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;

    p{
        border-right: lightgrey solid 1px;
        padding: 0vh 2vw 0vh;
    }
    #address {
        column-width: auto;
    }

    #property-img{
        max-height: 100px;
        max-width: 100px;
    }

    #heart-img {
        height: 50px;
    }
    #heart-img:hover{
        cursor:pointer;
    }
}

//favorite_create.jsx
.heart-container {
    position: relative;

    #heart-img{
        display: flex;
        position: absolute;
        justify-content: flex-end;
        right: 0;
        margin-top: 5px;
        height: 20px;
        max-width: 23px;
        border:none;
    }

    #heart-img:hover{
        cursor:pointer;
    }
}