* {
    font-family: $main-font-family;
}

.main-nav {
    display:flex;
    justify-content: space-between;
    background-color: white;
    color: $main-font-color;
    height: 80px;
    margin: 30px 100px 30px;
    align-items: center;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.left-nav > img{
    display: flex;
    height: 35px;
}

.header-link {
    text-decoration: none;
    color: $logo-color;
}

.signup-box {
    display: flex;
    color: $logo-color;
    width: 96px;
    height: 44px;
    border: 1px solid $logo-color;
    justify-content: center;
    margin: 0px 10px 0px;
    font-size: 14px;
    line-height: 3;
}

.login-box {
    display: flex;
    color: $logo-color;
    width: 96px;
    height: 44px;
    justify-content: center;
    margin: 0px 10px 0px;
    padding: 5px;
    font-size: 14px;
    line-height: 3;
}

.button {
    display: flex;
    color: $logo-color;
    background-color: transparent;
    text-decoration: none;
}

.login-box:hover{
    cursor: pointer;
    background-color: lightgray;
}

.signup-box:hover {
    cursor: pointer;
    background-color: lightgray;
}

.logged-in-navbox {
    display: flex;
    color: $logo-color;
    width: 96px;
    height: 44px;
    justify-content: center;
    margin: 0px 10px 0px;
    padding: 5px;
    font-size: 14px;
    line-height: 3;
}

.logged-in-navbox:hover {
    cursor: pointer;
    background-color: lightgray;
}

