* {
    font-family: $main-font-family;
}

.header-nav-bar {
    display:flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: white;
    color:#515151;
    height: 80px;
    margin: 30px 100px 30px;
    align-items: center;
}

img{
    display: flex;
    height: 35px;
}

.header-nav-bar-left {
    display: flex;
}

.header-nav-bar-right {
    display: flex;
    text-decoration: none;
}

.sign-up-link {
    display: flex;
    color: #ff7b04;
    width: 96px;
    height: 44px;
    padding: 8px, 20px;
    border: 1px solid #ff7b04;
    justify-content: center;
    margin: 0px 10px 0px;
    padding: 5px;
    font-size: 13px;
    line-height: 3;
}

.sign-up-link:hover{
    cursor: pointer;
}

.login-link {
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px;
    width: 68px;
    height: 80px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 3;
}

.login-link > Link {
    color: orange;
}