* {
    text-decoration: none;
    font-family: $main-font-family;
}

.properties-index-container {
    display: flex;
    margin: 20px 100px 20px;
    flex-wrap: wrap;
}


.property-index-display {
    display: block;
    margin: 30px;
    flex-direction: column;
    border: lightgrey solid 1px;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 1vh;
    width: 20vw;

    img {
        max-height: 25vh;
        max-width: 20vw;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    
    img:hover {
        // cursor: pointer;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    p{
        border-top: 1px solid #ddd;
        padding: 2vh;
    }
}


//property show

.property-show-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;

    #address1{
        justify-content: center;
        color: #515151;
        font-size: 18px;
    }

    #address2 {
        color: #a3a2a2;
        font-size: 14px;
    }

    img{
        max-height: 50vh;
        max-width: 70vw;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
}
.google-map {
    flex: 1;
    height: 50vh;
    width: 50vw;
}


