.properties-index-container {
    display: flex;
    margin: 20px 100px 20px;
    flex-wrap: wrap;
}

.property-container {
    display: block;
    margin: 30px;
    flex-direction: column;
    border: gray solid 1px;


}

.property-container > li {
    display: block;
    border-top: gray solid 0.5px;;
    border-radius: 5px;
    padding: 2px;
}

img {
    display: flex;
    max-height: 25vh;
    max-width: 20vh;;
}

img:hover {
    cursor: pointer;
}