* {
    font-family: $main-font-family;
    background-color: white;
    font-size: 16px;
}

.signup-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 5px 150px 5px;
}

.welcome {
    align-items: center;   
    justify-content: center;
    color: $main-font-color;
    font-size: 26px;
    margin: 20px 0px 0px;
}

.intro {
    column-count: 3;
    column-gap :10px;
    margin: 30px 50px 20px;
    padding: 8px;
 }

.intro > li {
    display: flex;
    color: $main-font-color;
    font-size: 16px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
 }
 
 #intro-img {
    display: flex;
    height: 80px;
    width: 100px;
 }

.intro > li p{
    margin: 15px 5px 2px;
}

 h2 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: $main-font-color;
    margin: 20px 10px 5px;
    font-family: $main-font-family;
 }

 
.entry-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    font-size: 16px;
}
    
.submit-button {
    text-transform: uppercase;
    background-color: #6259c3;
    color:white;
    padding: 10px 25px;
    font-size: 16px;
    height: 44px;
    width: 320px;
    border-style: none;
    border-radius: 5px;
}

.submit-button:hover{
    cursor: pointer;
    background-color: #6259a9;
}

.login-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
 }

 .form-input {
    font-size: 16px;
    padding: 11px 12px 11px 10px;
    width: 290px;
    margin: 5px;
    outline: 0px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px;
 }

 .other-form-link {
     display: flex;
     justify-content: center;
     margin: 5px;
 }

 .demo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 260px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #6259c3;
    color:white;
    padding: 5px 10px;
    border-radius: 5px;
 }

 .demo-button:hover{
    cursor: pointer;
    background-color: #6259a9;
 }
