.signup-form-container{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   font-family: $main-font-family;
   background: white;
   width:425px;
   padding: 35px 10px;
   border: radius 2px;
 }

.welcome {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: $main-font-family;
   background: white;
   color: $main-font-color;
   margin: 48px, 0px, 16px;
}

.intro {
     column-count: 3;
     column-gap :10px;
 }

.intro > li {
    display: flex;
    font-family: $main-font-family;
    color: $main-font-color;
    font-size: 16px;
    justify-content: space-between;
 }
 

.signup-submit {
   text-transform: uppercase;
   background-color: #6259c3;
   color:white;
   font-weight:bold;
   padding: 10px 20px;
   font-size: 16px;
   box-sizing: border-box;
   height: 44px;
   width: 320px;
}


.login-form{
   display: block;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   font-family: $main-font-family;
   background: white;
   width:425px;
   padding: 35px 10px;
   border: radius 2px;
 }

.login-submit {
   text-transform: uppercase;
   background-color: #6259c3;
   color:white;
   font-weight:bold;
   padding: 10px 20px;
   font-size: 16px;
   box-sizing: border-box;
   height: 44px;
   width: 320px;
 }
