// main intro

* {
    font-family: $main-font-family;
    color: $main-font-color
}
.welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-font-color;
    font-size: 20px;
    font-family: $main-font-family;
}


// why-invest
.section-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 5px 150px 5px;
}

.section-head-text {
    color: #282828;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: -.75px;
    line-height: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    
}

.why-details-container {
    display: flex;
    flex-direction: column;
    column-count: 3;
    column-gap :10px;
    margin: 30px 50px 20px;
    padding: 8px;
 }

.why-details-container > li {
    display: flex;
    color: $main-font-color;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
 }

.why-details-container h2{
    font-family: $main-font-family;
    text-transform: uppercase;
    font-size: 22px;
    
}

.why-details-container p{
    font-family: $main-font-family;
    text-transform: capitalize;
    font-size: 14px;
}

 #why-img {
    display: flex;
    height: 80px;
    width: 100px;
 }

.why-details-container > li p{
    margin: 15px 5px 2px;
}

//featured box



//why sfh



//meet-investors


//story-box